@mixin d-flex{
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

@mixin d-flex02{
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin pos-t0-l0 {
  position: absolute;
  top: 0;
  left: 0;
}
@mixin pos-b0-l0 {
  position: absolute;
  bottom: 0;
  left: 0;
}
@mixin  heading-border-bottom {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14.625%;
  height: 2px;
  border: 2px solid $color-01;
  margin-bottom: -2.5rem;
}

@mixin bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba($color: #000000, $alpha: 0.7);
}
