// body
body {
  font-family: $font-primary;
  line-height: 26px;
  font-size: 15px;
  color: $color-primary;
  font-weight: $font-regulary;
}

// 1. style text
.text--white {
  color: #fff;
}
.text--center {
  text-align: center;
}
.text--desc {
  color: $color-tertiary;
}
.text--uppercase {
  text-transform: uppercase;
}

// 2. margin
.mb-50 {
  margin-bottom: 5rem;
}
.mb-30 {
  margin-bottom: 3rem;
}

// 3. padding
.pl-30 {
  padding-left: 3rem;
}
.pr-30 {
  padding-right: 3rem;
}

.pb-50 {
  padding-bottom: 5rem;
}
