
.btn {
  border: none;
  background-color: $color-01;
  color: $color-light;
  padding: px(10) px(25);
  font-size: px(14);
  cursor: pointer;
  border-radius: 2.4rem;
  letter-spacing: 0.05rem;
  @media (min-width: 768px) {
    padding: px(15) px(45);
    font-size: 15px;
  }
}

.btn--secondary {
  background-color: #fff;
  color: $color-secondary;
  border: 2px solid $color-secondary;
  border-radius: 2.5rem;
}

.btn--tertiary {
  background-color: $color-secondary;
}

// navbar search
.search {
  line-height: 15px;
  width: 1.5rem;
  color: $color-primary;
}

.btn-download, .btn--subscribe {
  font-size: 13px;
  letter-spacing: 0.15rem;
  line-height: 15.6px;
  font-family: $font-primary;
}
.btn--read {
  background-color: $color-bg-04;
  color: $color-secondary;
}

