.list-group {
  &__item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  &__item {
    border-bottom: 1px solid $color-border;
    padding: 1.2rem;
    font-size: 15px;
    color: $color-04;
    display: flex;
    justify-content: space-between;
    @media (min-width:768px) {
      padding: 2rem;
      font-size: 16px;
    }
    .badge {
      display: inline-block;
      padding: .4em .4em;
      font-size: 80%;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
    }
    .badge--primary {
      color: #fff;
      background-color: #0F66DC;
    }
    .badge-pill {
      padding-right: 1.2em;
      padding-left: 1.2em;
      border-radius: 3rem;
    }
  }
  &__item.active {
    color: $color-secondary;
  }
}
