.form{
  .form__item {
    position: relative;
    border-radius: 25px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    margin-bottom: 5rem;
    @media (min-width:768px) {
      margin-bottom: 0;
    }
  }
  input {
    width: 100%;
    padding: 0.9rem 1.5rem;
    outline: none;
    border: none;
    background: none;
    @media (min-width:768px) {
      padding: 0.9rem 3.1rem;
    }
  }
  ::-webkit-input-placeholder {
    font-size: 12px;
    color: #748494;
    letter-spacing: 0.1rem;
    line-height: 16px;
    font-weight: $font-light;
    font-family: $font-primary;
    @media (min-width:768px) {
      font-size: 14px;
    }
  }
}

.form--subscribe {
  .btn--subscribe {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    width: 100%;
    @media (min-width:768px) {
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0;
      width: auto;
    }
  }
  .spam {
    font-size: 14px;
    color: #ACACAC;
    padding-top: 2.7rem;
    i {
      color: $color-star;
      font-size: 31px;
      width: 30px;
      padding-left: 1rem;
    }
  }
}

.form--search {
  input {
    background-color: #F8F8F8;
  }
  .btn--search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 2rem;
    background: none;
    color: $color-secondary;
  }
}
