// 1. section header
.header {
  display: flex;
  @media (min-width:768px) {
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding-bottom: 1.5rem;
  }
  margin-bottom: 9.5rem;
}

// 2. section intro

// 3. section items
.items {
  background-color: $color-bg-02;
  padding-top: 9.3rem;
  padding-bottom: 4.4rem;
  margin-bottom: 9.36rem;
  .heading {
    text-align: left;
    position: relative;
    max-width: 47rem;
  }
  .heading::after {
    @include heading-border-bottom;
  }
  &__inner {
    margin-top: 9.85rem;
  }
  .box-icon {
    margin-bottom: 5rem;
  }
}
// 4. home slider
.home-slider {
  margin-bottom: 7.4rem;
  .heading {
    max-width: 67rem;
    margin: 0 auto;
    &__title {
      position: relative;
      margin-bottom: 5rem;
    }
    &__title::after {
      @include heading-border-bottom;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// 5. logos
.logos {
  padding-top: 6.6rem;
  border-top: 1px solid #E7E7E7;
  margin-bottom: 5.4rem ;
  text-align: center;
  img {
    margin-bottom: 4rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;

  }
}

//  6. CTA

// 7. pricing
.pricing {
  padding-top: 9.36rem;
  background-color: #EFF3FE;
  .heading {
    max-width: 67rem;
    margin-left: auto;
    margin-right: auto;
    &__title {
      position: relative;
      margin-bottom: 5rem;
    }
    &__title::after {
      @include heading-border-bottom;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__slider {
    margin-top: 7rem;
    margin-bottom: 7.7rem;
    .swiper-slide {
      border-radius: 10px;
    }
    .block-pricing {
      width: 100%;
    }
  }
}
// 8. hoem-video
.home-video {
  margin-top: 15.44rem;
  margin-bottom: 12rem;
  // left of section
  .video {
    display: block;
    position: relative;
  }
  .icon {
    @include pos-center;
  }
  // right of section
  .box {
    padding-left: 3.5rem;
  }
}

// 9. testimonials
.testimonials {
  position: relative;
  margin-bottom: 11rem;
  .heading {
    text-align: left;
    position: relative;
    max-width: 47rem;
    margin-bottom: 8.3rem ;
  }
  .heading::after {
    @include heading-border-bottom;
  }
  .testimonials__inner {
    position: relative;
  }
  .testimonials__inner .dots {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -5%);
  }
  // slider
  // như cái qq. aaaaaaaaaaaaaaaaa
  .swiper-wrapper {
    padding-top: 2rem;
  }
  .swiper-slide {
    background: none;
  }
  .swiper-slide-active {
    transform: translateY(-15px);
    z-index: 3;
    .box__inner {
      background-color: $color-light;
      box-shadow: 5px 5px 7px $color-03;
    }
  }
}
// .testimonials::after {
//   content: "";
//   position: absolute;
// }
// 10. newsletter
.newsletter {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10.55rem;
  .form--subscribe {
    padding: 0.5rem 8rem;
    .form__item {
      box-shadow: 6px 8px 10px rgba($color: $color-02, $alpha: 0.5);
    }
  }
}

// 11. footer
.footer {
  background-color: $color-bg-03;
  &__inner {
    padding-top: 10rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid #DADCE0;
  }
  .logo {
    margin-bottom: 2.66rem;
  }
  .text--desc {
    font-size: 16px;
    text-align: center;
    @media (min-width:768px) {
      text-align: left;
    }
  }
  .copyright {
    font-size: 13px;
    color: #222222;
    text-align: center;
    padding-top: 2.55rem;
    padding-bottom: 2rem;
    span {
      color: $color-secondary;
    }
  }
}
